*,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  margin: 100px 20px;
}

#header-wrap {
  z-index: 1;
  position: fixed;
  transition: top 666ms;
}

#footer-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: .5em 1em;
}

#link {
  text-decoration-line: underline;
}
